<h1> <%= @dojo.branch %> Dojo</h1>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <% @students.each do |i| %>
  <tr>
    <td><%= i.first_name %>-</td>
    <td><%= i.last_name %>-</td>
    <td><%= i.email %>-</td>
    <td>
      <a href="/dojos/<%= @dojo.id %>/students/<%= i.id %>">Show</a> |
      <a href="/dojos/<%= @dojo.id %>/students/<%= i.id %>/edit">Edit</a> |
      <form action="/dojos/<%= @dojo.id %>/students/<%= i.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>

    </td>
  </tr>
  <% end %>
</table>

<%= link_to "Go Home", root_path %> ||
<a href="/dojos/<%= @dojo.id %>/students/new">New Student</a>
