<h1>Secrets</h1>
<a href="/users/show/<%= current_user.id %>/">My Secrets</a>
<hr>

<% @secrets.each do |secret| %>
<div class="secretborder">
  <i>"<%= secret.content %>"</i>
  <div>
    <p id='likes'><%= secret.likes.count %> likes ||</p>
    <% unless secret.users.include?(current_user) %>
      <form class="likebutton" action="/likes" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
        <input type="submit" value="Like">
      </form>
    <% else %>
      <form class="unlikebutton" action="/likes/<%= Like.where(user: current_user, secret: secret).first.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
        <input type="submit" value="Unlike">
      </form>
    <% end %>
    <% if secret.user == current_user %>
      <form class="deletebutton" action="/secrets/<%= secret.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete">
      </form>
    <% end %>
  </div>

  </div>
<% end %>
