<h1> <%= @dojo.branch %> Dojo</h1>

 <h3> Address: <%= @dojo.street %></h3>
 <h3> City: <%= @dojo.city %></h3>
 <h3> State: <%= @dojo.state %></h3>

 | <%= link_to "Home", root_path %> |
 <a href="/dojos/edit/<%= @dojo.id %>">Edit</a> |
