<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sloths</title>
  </head>
  <body>
    <h1>Add Sloth</h1>
    <form action="/addSloth" method="post">
      <p>Sloth Name: <input type="text" name="name"></p>
      <p>Sloth Age: <input type="text" name="age"></p>
      <p><input type="submit" value="Slowly add Sloth"></p>
    </form>
    <hr>
    <h1>Display all Animals</h1>
    <% for (var i = 0; i < sloths.length; i++)  { %>
      <ul>
        <li><%= sloths[i].name %> -- <%= sloths[i].age %> -- <a href="/editSloth/<%= sloths[i]._id %>"><%= sloths[i]._id %></a>==  <a href="deleteSloth/<%= sloths[i]._id %>" >Delete</a></li>
        <hr>
      </ul>
    <% } %>

  </body>
</html>
