<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
    </head>
    <body>
        <h1>INDEX PAGE</h1>
        <h2>Enter team info:</h2>
        <form action="/team" method="post">
            <p>Name: <input type="text" name="name"></p>
            <p><input type="submit" value="Create Team"></p>
        </form>
        <hr>

        <h2>Enter player info:</h2>
        <form action="/players" method="post">
            <p>Name: <input type="text" name="name"></p>
            <p>Age: <input type="text" name="age"></p>
            <p>Team:</p>
            <select name="_team" required>
                <% for (let i=0; i< teams.length; i++) { %>
                <option value="<%= teams[i]._id %>"><%= teams[i].name %></option>
                <% } %>
            </select>
            <p><input type="submit" value="Create Player"></p>
        </form>

        <h2>All Players</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Team</th>
            </tr>
            <% for (let i = 0; i < teams.length; i++) { %>
                <% for (let j = 0; j < teams[i].players.length; j++) { %>
                <tr>
                    <td><%= teams[i].players[j].name %></td>
                    <td><%= teams[i].players[j].age %></td>
                    <td><%= teams[i].name %></td>
                </tr>
                <% } %>
            <% } %>
        </table>
    </body>
</html>
